//! **************************************************************************
// Written by: Map P.20131013 on Sun Apr 03 19:07:25 2022
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

